# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

*results/
*.csv
*.swp

*data/

*credentials/
!*/credentials/
*credentials/*
!*/credentials/sample/
